// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$background: #000;

$white: #fff;
$gray1: #979797;
$gray2: #D0D0D0;
$gray3: #333333;
$gray4: #EFEFEF;
$green: #BADB00;
$orange: #FFBF3D;
$red: #D41B2C;
$teal: #52CFE5;