// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,800&display=swap');
@import '~formstone/dist/css/navigation';

// Variables
@import 'variables';

.audit_bar {
    height: 20px;
    position: relative;
}

.audit_bar > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.prop_status > svg {
    border-radius: 9999px;
    border: 1px solid white;
}

.hidden-visi {
    visibility: hidden;
}

#navigation {
    background-color: #2d3748 !important;
}