// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,800&display=swap');
@import '~formstone/dist/css/navigation';

// Variables
@import 'variables';
@tailwind base;

form input {
    @apply text-black;
}

.props-form__create {
    @apply flex;
}

.props-form__inputs > div {
    @apply flex;
    @apply flex-col;
    @apply flex-wrap;
    @apply mb-2;
}

.prop-environment-form > div {
    @apply flex;
    @apply flex-col;
    @apply flex-wrap;
    @apply mb-4;
}

.prop-environment-form > div:not(:first-child) {
    @apply pt-2;
    @apply border-t-2;
    @apply border-white;
}
.prop-environment-form > div > input:not(:last-child) {
    @apply mb-2;
}

.props-table > thead {
    tr {
        @apply bg-blue-900;
    }
    td {
        @apply border-r-2;
        @apply border-black;
        @apply pl-2;
        @apply font-bold;

        min-width: 8em;
    }
    td:first-child, td:last-child {
        @apply pl-0;
        @apply text-center;

        min-width: 2em;
    }
    td.props-table_parent-id {
        @apply pl-0;
        @apply text-center;

        min-width: 6em;
    }
}

.props-table > tbody {
    tr {
        overflow: auto;
        max-width: 100vw;
    }

    tr:nth-child(odd) {
        @apply bg-gray-800;
    }
    tr:nth-child(even) {
        @apply bg-gray-900;
    }
    
    td {
        @apply border-r-2;
        @apply border-black;
        @apply pl-2;
        @apply pr-2;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 14em;

        @media screen and (min-width: 1350px) {
            max-width: 20em;
        }
    }

    td:first-child {
        @apply pl-0;
        @apply text-center;
    }

    td.props-table_parent-id {
        @apply pl-0;
        @apply text-center;
    }
}



.audit_bar {
    height: 20px;
    position: relative;
}

.audit_bar > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.prop_status > svg {
    border-radius: 9999px;
    border: 1px solid white;
}

.hidden-visi {
    visibility: hidden;
}

#navigation {
    background-color: #2d3748 !important;
}