// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,800&display=swap');
@import "~kernl-ui/src/styles/main";
@import "~formstone/dist/css/navigation";
@import "~formstone/dist/css/tabs.css";

// Variables
@import 'reset';
@import 'variables';

body {
    font-family: 'Lato', sans-serif;
}

.props-body {
    background: $background;
    color: $white;

    @include mqbp-up(d) {
        display: flex;
        min-height: 100vh;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px 25px 20px;

    @include mqbp-up(d) {
        //bw-0 bwr-2 bs-solid bc-gray-200
        border-right: 2px solid $gray-200;
        width: 350px;
        flex-direction: column;
        flex-wrap: none;
        justify-content: flex-start;
        padding: 27px 20px 25px 33px;

    }
}

.nav__icons {
    display: flex;
    align-items: center;
    width: 100%;
}


.nav__home {
    text-decoration: none;

    // @include mqbp-up(d) {
    //     @extend .fs-d3; TODO: THIS!
    // }
}

#navigation {
    @include mqbp-down(t) {
        padding: 27px 20px 25px 33px;
        background-color: black;
        border-right: 2px solid $gray-200;
    }
}

.nav__handle.fs-navigation-handle {
    width: auto;
    margin-left: auto;

    @include mqbp-up(d) {
        display: none;
    }
}

.nav__search {
    width: 100%;
    margin-top: 20px;
    padding: 13px 5px 13px 15px;
    
    border: 1px solid $white;

    color: $gray1;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Lato', sans-serif; // TODO: Why does this need to be here??

    @include mqbp-up(d) {
        
    }
}

.nav__filters > .nav__option {
    @extend .fs-d1;
    @extend .mt-1;

    color: $white;

    :not(:first) {
        @extend .mt-2;
    }
}
.nav__filter-group > label {
    line-height: 24px;
    display: flex;
    align-items: center;

    > input {
        margin: 0 5px 0 0;
        border-radius: 2px;
        border: 1px solid $gray-300;
        background-color: black;
    }
}

.props-header {
    font-size: 29px;
    font-weight: 300;
    line-height: 37px;

    text-align: center;

    @include mqbp-up(d) {
        margin-top: 22.5px;
    }
}

.main {
    @include mqbp-up(d) {
        flex: 0 100%;
    }
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 37px;
}

.charts__entry {
    display: flex;
    flex: 0 50%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px;
}

.charts__canvas-container {
    height: 150px;
    width: 150px;
}

.charts__label {
    margin-top: 15px;

    color: $gray1;
    font-size: 13px;
    font-weight: 400;
}

.charts__value {
    position: absolute;
}

.score-scale {
    display: flex;
    justify-content: center;
    color: $gray2;
    padding: 0 20px;
}

.score-scale__ranges {
    display: flex;
    
    list-style-type: none;
}

.score-scale__label {
    margin-right: 15px;
}

.score-scale__entry {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.score-scale__entry::before {
    content: ' ';
    display: block;
    width: 15px;
    height: 10px;
    border-radius: 4px;
    margin-right: 8px;
}
.score-scale__entry.green::before {
    background-color: $green;
}

.score-scale__entry.orange::before {
    background-color: $orange;
}

.score-scale__entry.red::before {
    background-color: $red;
}

.prop-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.prop-list__entry {
    color: $white;
    padding: 0 25px 0 35px;
    height: 60px;
    border-top: 1px solid $white;

    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    

    display: flex;
    align-items: center;
}

.prop-list__wrapper {
    display: flex;
    width: 100%;

    font-weight: 400;
}

.prop-list__p-wrapper {
    color: $white;
    text-decoration: none;

    display: flex;
    width:100%;
    flex-direction: column;

    font-size: 14px;
    font-weight: 800;
    line-height: 24px;

    position: relative;

    &::after {
        content: " ";
        display: block;
        background-color: $green;
        width: 14px;
        height: 14px;
        border-radius: 14px;
        position: absolute;
        right: 0;
        top: calc(50% - 7px);
    }
}

.prop-list__count {
    margin-left: auto;
}

.prop-list__url {
    color: $gray1;

    font-size: 13px;
    font-weight: 400;
}

// PROP PAGE
.prop-page__type {
    text-transform: uppercase;
    text-align: center;

    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.prop-page__breadcrumbs {
    list-style: none;
    display: flex;
    justify-content: center;

    font-size: 13px;
    line-height: 18px;
    color: $gray2;
}

.prop-page__bread-entry:not(:last-child)::after {
    content: '>';
    margin: 0 5px;
}

.prop-page__title {
    text-align: center;

    font-size: 27px;
    font-weight: 300;
    margin-top: 25px;
}

.prop-page__lighthouse {
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;

    text-decoration: none;
    color: $teal;
    
    font-size: 15px;
}

.prop-page__details {
    color: $gray4;

    padding-top: 22px;
    
    font-size: 13px;
    line-height: 18px;
}

.prop-page__tab-wrapper {
    margin-top: 25px;
    padding: 20px 15px 15px 25px;
    min-height: 420px;
    
    @include mqbp-up(d) {
        padding-top: 15px;
        min-height: 350px;
    }
}

.prop-page__tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray4;
}

.prop-page__tabs > a {
    color: $gray5;
    font-size: 15px;
    padding-bottom: 5px;
}

.prop-page__tabs > .fs-tabs-active {
    color: white;
    border-bottom: 4.5px solid $gray4;
}

.section .prop-page__tab-wrapper.section {
    padding: inherit;
}

