@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,800&display=swap);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.props-body {
  background: #000;
  color: #fff;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 20px 25px 20px;
}

.nav__home {
  text-decoration: none;
  color: #EFEFEF;
  font-size: 17px;
  font-weight: 300;
}

.nav__search {
  width: 100%;
  margin-top: 20px;
  padding: 13px 5px 13px 15px;
  background: #000;
  border: 1px solid #fff;
  color: #979797;
  font-weight: 400;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.props-header {
  font-size: 29px;
  font-weight: 300;
  line-height: 37px;
  text-align: center;
}

.charts {
  display: flex;
  justify-content: space-around;
  margin-top: 37px;
}

.charts__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charts__canvas-container {
  height: 150px;
  width: 150px;
}

.charts__label {
  margin-top: 15px;
  color: #979797;
  font-size: 13px;
  font-weight: 400;
}

.charts__value {
  position: absolute;
}

.prop-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.prop-list__entry {
  color: #fff;
  padding: 0 25px 0 35px;
  height: 60px;
  border-top: 1px solid #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.prop-list__wrapper {
  display: flex;
  width: 100%;
  font-weight: 400;
}

.prop-list__p-wrapper {
  color: #fff;
  text-decoration: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
}

.prop-list__p-wrapper::after {
  content: " ";
  display: block;
  background-color: #BADB00;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
}

.prop-list__count {
  margin-left: auto;
}

.prop-list__url {
  color: #979797;
  font-size: 13px;
  font-weight: 400;
}

