@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,800&display=swap);/*! formstone v1.4.16 [navigation.css] 2019-07-31 | GPL-3.0 License | formstone.it */

.fs-navigation, .fs-navigation *, .fs-navigation :after, .fs-navigation :before, .fs-navigation:after, .fs-navigation:before {
  box-sizing: border-box;
  transition: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.fs-navigation-toggle-nav.fs-navigation-enabled {
  display: none;
}

.fs-navigation-toggle-nav.fs-navigation-open {
  display: block;
}

.fs-navigation-toggle-handle.fs-navigation-enabled {
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  display: block;
}

.fs-navigation-overlay-nav.fs-navigation-enabled, .fs-navigation-push-nav.fs-navigation-enabled, .fs-navigation-reveal-nav.fs-navigation-enabled {
  width: 270px;
  height: 100%;
  height: calc(100% + 60px);
  position: fixed;
  top: 0;
  background: #fff;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.fs-navigation-push-nav.fs-navigation-enabled, .fs-navigation-reveal-nav.fs-navigation-enabled {
  visibility: hidden;
}

.fs-navigation-reveal-nav.fs-navigation-animated {
  transition: visibility 1ms linear 0.2s;
}

.fs-navigation-overlay-nav.fs-navigation-animated, .fs-navigation-push-nav.fs-navigation-animated {
  transition: transform 0.2s ease, visibility 1ms linear 0.2s;
}

.fs-navigation-push-nav.fs-navigation-enabled, .fs-navigation-reveal-nav.fs-navigation-enabled {
  z-index: 0;
}

.fs-navigation-overlay-left-nav.fs-navigation-enabled, .fs-navigation-push-left-nav.fs-navigation-enabled, .fs-navigation-reveal-left-nav.fs-navigation-enabled {
  left: 0;
}

.fs-navigation-overlay-right-nav.fs-navigation-enabled, .fs-navigation-push-right-nav.fs-navigation-enabled, .fs-navigation-reveal-right-nav.fs-navigation-enabled {
  right: 0;
}

.fs-navigation-overlay-left-nav.fs-navigation-enabled, .fs-navigation-push-left-nav.fs-navigation-enabled {
  transform: translate3D(-270px, 0, 0);
}

.fs-navigation-overlay-right-nav.fs-navigation-enabled, .fs-navigation-push-right-nav.fs-navigation-enabled {
  transform: translate3D(270px, 0, 0);
}

.fs-navigation-overlay-nav.fs-navigation-enabled {
  z-index: 3;
}

.fs-navigation-reveal-nav.fs-navigation-open {
  visibility: visible;
  transition: visibility 1ms ease;
}

.fs-navigation-overlay-nav.fs-navigation-open, .fs-navigation-push-nav.fs-navigation-open {
  transform: translate3D(0, 0, 0);
  transition: transform 0.2s ease, visibility 1ms ease;
  visibility: visible;
}

.fs-navigation-overlay-handle.fs-navigation-enabled, .fs-navigation-push-handle.fs-navigation-enabled {
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
}

.fs-navigation-overlay-content:before {
  width: 100%;
  height: 100%;
  height: calc(100% + 60px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  content: "";
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  visibility: hidden;
}

.fs-navigation-overlay-content.fs-navigation-open:before {
  opacity: 1;
  visibility: visible;
}

.fs-navigation-push-content.fs-navigation-enabled, .fs-navigation-reveal-content.fs-navigation-enabled {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  transform: translate3D(0, 0, 0);
}

.fs-navigation-push-content.fs-navigation-animated, .fs-navigation-reveal-content.fs-navigation-animated {
  transition: transform 0.2s ease;
}

.fs-navigation-push-left-content.fs-navigation-open, .fs-navigation-reveal-left-content.fs-navigation-open {
  transform: translateX(270px);
}

.fs-navigation-push-right-content.fs-navigation-open, .fs-navigation-reveal-right-content.fs-navigation-open {
  transform: translateX(-270px);
}

.fs-navigation-handle.fs-navigation-enabled {
  border: none;
  padding: 0;
}

.fs-navigation-lock {
  overflow: hidden !important;
}

.audit_bar {
  height: 20px;
  position: relative;
}

.audit_bar > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.prop_status > svg {
  border-radius: 9999px;
  border: 1px solid white;
}

.hidden-visi {
  visibility: hidden;
}

#navigation {
  background-color: #2d3748 !important;
}